.accountContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.accountContainer{
    width: 85vw;
    height: 90vh;
    margin-top: 5vh;
    background-color: rgba(54, 54, 54, 0.348);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.502);
    border-radius: 10px;
    justify-content: space-around;
}

.imgContainer{
    margin-left: 15px;
}

.articleContainer{
    margin-right: 15px;
    border-radius: 10px;
    width: 35vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(84, 84, 84, 0.269);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.502);
}

.infoContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width:95% ;
    height: 70%;
    text-align: start;
}

.infoContainer input , .infoContainer select{
    color: black;
    font-size: 13.7px;
    width: 75%;
    height: 12%;
    border-radius: 3px;
    border-style: none;
    outline: none;
}